Repository criticalarc/azure-cosmos-dotnet-v3, changes with the owners that CODEOWNERS names for each.
All owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @bchong95, @sboshra, @khdang, @lalithamv

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg
Microsoft.Azure.Cosmos/src/Json @bchong95 @j82w @sboshra
Microsoft.Azure.Cosmos/src/Query @bchong95 @j82w @sboshra
Microsoft.Azure.Cosmos/src/CosmosElements @bchong95 @j82w @sboshra
Microsoft.Azure.Cosmos/src/SqlObjects @bchong95 @j82w @sboshra
Microsoft.Azure.Cosmos/src/Linq @khdang @j82w @sboshra @bchong95
Microsoft.Azure.Cosmos/src/Spatial @lalithamv @sboshra @j82w

Fix name
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqTranslationBaselineTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Fallback to ensure queries don't break
  Microsoft.Azure.Cosmos/src/Linq/CosmosTags.cs
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
Owners: @khdang, @j82w, @sboshra, @bchong95, @kirankumarkolli, @ealsur, @FabianMeiswinkel, @kirillg

Fix AND output conditions
  Microsoft.Azure.Cosmos/src/Linq/CosmosTags.cs
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
Owners: @khdang, @j82w, @sboshra, @bchong95, @kirankumarkolli, @ealsur, @FabianMeiswinkel, @kirillg

Remove pointless variables
  Microsoft.Azure.Cosmos/src/Linq/CosmosTags.cs
Owners: @khdang, @j82w, @sboshra, @bchong95

Doesn't work
  Microsoft.Azure.Cosmos/src/Linq/CosmosTags.cs
Owners: @khdang, @j82w, @sboshra, @bchong95
